body {
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

input[type=text], input[type=password], option, select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 15px;
}

/** Buttons */
.base-button {
	padding: 12px 20px;
	margin: 8px 0px;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 1em;
	border-radius: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.button-grey {
	background-color: #e7e7e7;
	color: black;
}

.button-purple {
	background-color: #911dff;
	color: white;
}

.button-green {
	background-color: #1de791;
	color: white;
}

button:hover {
	opacity: 0.8;
}

/** Spinner */
.spinner {
	display: block;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}

.spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #911dff;
	border-radius: 50%;
	animation: spinner-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #911dff transparent transparent transparent;
}

.spinner-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.spinner-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.spinner-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes spinner-ring {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.hidden {
	display: none;
}
