@import url('https://fonts.googleapis.com/css?family=Enriqueta|Kanit');

body {
	font-family: Enriqueta, sans-serif;
	font-size: 16px;
	line-height: 18px;
	height: 100%;
	margin: 0 auto;
	color: #111;
}

#outer-joke {
	text-align: center;
}

#joke {
	display: inline-block;
	text-align: left;
	padding: 1em;
	border: 1px dotted #dd8;
	background-color: #ffc;
}

.again-wrapper {
	text-align: center;
}

a.again-button, a.again-button:visited, a.again-button:hover, a.again-button:active {
	text-decoration: none;
	border: 1px solid black;
	padding: 1em 3em;
	background: #8d6;
	color: black;
}
