body {
	font-family: arial, sans-serif;
	font-size: 5vw;
}

a {
	width: 100%;
	text-align: center;
	text-decoration: none;
	border-radius: 16px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	margin: 0 auto 0.5em auto;
}

a.purple, a.purple:active, a.purple:hover, a.purple:visited {
	box-shadow: inset 0px 1px 0px 0px #efdcfb;
	background: linear-gradient(to bottom, #dfbdfa 5%, #8a50ba 100%);
	background-color: #dfbdfa;
	border: 1px solid #c584f3;
	color: white;
	text-shadow: 0px 1px 0px #9752cc;
}

a.blue, a.blue:active, a.blue:hover, a.blue:visited {
	box-shadow: inset 0px 1px 0px 0px #dcecfb;
	background: linear-gradient(to bottom, #bbdbfa 5%, #80b5ea 100%);
	background-color: #bbdbfa;
	border: 1px solid #804bf3;
	color: white;
	text-shadow: 0px 1px 0px #528ecc;
}

a.olive, a.olive:active, a.olive:hover, a.olive:visited {
	box-shadow: inset 0px 1px 0px 0px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border: 1px solid #d2b8ad;
	color: white;
	text-shadow: 0px 1px 0px #ced9bf;
}

a.red, a.red:active, a.red:hover, a.red:visited {
	box-shadow: inset 0px 1px 0px 0px #f7c5c0;
	background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color: #fc8d83;
	border: 1px solid #d83526;
	color: white;
	text-shadow: 0px 1px 0px #b23e35;
}

a.orange, a.orange:active, a.orange:hover, a.orange:visited {
	box-shadow: inset 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color: #ffec64;
	border: 1px solid #ffaa26;
	color: white;
	text-shadow: 0px 1px 0px #ffee66;
}

a.turquoise, a.turquoise:active, a.turquoise:hover, a.turquoise:visited {
	box-shadow: inset 0px 1px 0px 0px #fff6af;
	background: linear-gradient(to bottom, #00d3e6 5%, #bdd7e6 100%);
	background-color: #00d3e6;
	border: 1px solid #bdd7e6;
	color: white;
	text-shadow: 0px 1px 0px #bdd7e6;
}


.wide {
	width: 98%;
	margin: 0 auto;
}

.column {
	float: left;
	width: 48%;
	margin: 0 1%;
}

.columns {
	width: 98%;
	margin: 0.5em auto;
}

.columns:after {
	content: "";
	display: table;
	clear: both;
}
