body {
	font-family: Arial, sans-serif;
	background-color: white;
	color: black;
	margin: 0.5em;
}

a {
	text-decoration: none;
	color: black;
}

p {
	text-align: center;
	font-weight: bold;
}

.large {
	font-size: 2em;
}

.small {
	font-size: 16px;
}
