html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	padding: 1em;
}

.column-left {
	float: left;
	width: 31%;
	margin: 1%;
}

.column-right {
	float: right;
	width: 31%;
	margin: 1%;
}

.column-center {
	display: inline-block;
	width: 31%;
	margin: 1%;
}

@media (max-width: 768px) {
	.column-left, .column-right {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.column-center: {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h3 {
		margin-top: 0;
		padding-top: 0;
	}
}
